@import  './../../../styles/styles.scss';
.Toolbar{
    width : 100%;
    position : fixed;
    top: 0;
    background-color: $dark-grey;
    display: block;
    box-sizing: border-box;
    z-index: 40;
    .container {
        width:  100%;
        padding: 0 15px;
        margin: 0 auto;
        .row{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            .col-auto{
                -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                width: auto;
                .Logo{
                @media (min-width: 1200px) and (min-width: 768px){
                        max-width: 330px;
                    }
                }
                @media (min-width: 768px) and (min-width: 992px){
                         max-width: 285px;
                }
                }
            }
        }
    }
.Toolbar nav{
    height: 100%;
}
.Logo{
    height: 80%
}
@media (min-width: 1200px){
.container {
    max-width: 1140px;
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width: 576px){
    .container{
        max-width: 100%;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}


}
@media (max-width : 540px){
    .DesktopOnly{
        display: none
    }
}
