@import './../../../styles/styles.scss';

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}


a {
    text-decoration: none;
}

.item {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;

    &:hover {
        figure {
            background: $blue;

            figcaption {
                color: $white;

                .btn-addcart {
                    background-image: -webkit-gradient(linear, left bottom, left top, from(#053509), to($green));
                    background-image: -webkit-linear-gradient(bottom, #053509 0, $green 100%);
                    background-image: -o-linear-gradient(bottom, #053509 0, $green 100%);
                    background-image: linear-gradient(0deg, #053509 0, $green 100%);
                    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .25);
                    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .25)
                }
            }
        }


    }

    figure {
        height: 100%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border-radius: 3px;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        padding: 4px;

        .box-img {
            margin-bottom: 10px;

            img {
                max-height: 210px;
                width: auto;
                display: block;
                margin: auto;
                max-width: 100%
            }
        }

        figcaption {
            text-align: center;
            color: $blue;
            -webkit-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            font-size: .75rem;

            h4 {
                font-size: 10px;
                font-weight: 900;
                text-transform: uppercase;

            }

            p {
                font-size: 9px;
                font-weight: 400;

            }

            .price {
                font-size: 16px;
                color: $red;
                font-weight: 900;
                font-style: italic
            }

            .btn-addcart {
                margin-top: auto;
                margin-right: auto;
                margin-left: auto;
                white-space: nowrap;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                min-width: 1px;
                padding: 7px 14px;
                border-radius: 4px;
                background: $blue;
                font-size: 9px;
                font-weight: 900;
                color: $white;
                text-transform: uppercase;
                max-width: 100%
            }
        }
    }
}

@media (min-width:$breakpoint-lg) {
    .col-6 .col-md-4 {
        margin-top: 15px;
        padding: 0 10px
    }

    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .item {
        figure {
            padding: 10px;
        }
    }
}

@media (min-width:$breakpoint-sm) {
    .item figure figcaption {
        font-size: 1.125rem;

        h4 {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            font-size: 1rem;
        }

        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            font-size: .75rem;
        }

        .btn-addcart {
            height: 2.34375rem;
            font-size: .84375rem;
            max-width: 100%;
            width: 100%
        }
    }
}

@media (min-width:$breakpoint-xl) {
    .col-xl-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .col-xl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }

    .item figure figcaption {
        font-size: 14px;

        h4 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }

        .btn-addcart {
            height: 50px;
            font-size: 16px
        }
    }
}


@media(max-width: 480px) {
    .col-md-4 {
        margin-bottom: 30px;
    }

    .col-xl-4 {
        max-width: 100%;
    }
    .item figure figcaption .price{
        font-size: 0.55rem;
        margin-top: auto
    }
}