@import './../../styles/styles.scss';

.menu {
    .row {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -15px;

        &.no-gutters {
            margin-right: 0;
            margin-left: 0;
        }
        .menu-item {
            padding: 0 5px;
            min-height: 50vh;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            .btn-view {
                text-decoration: none;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 2.75rem;
                width: 15rem;
                border-radius: 5px;
                -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .25);
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .25);
                background-image: -webkit-gradient(linear, left bottom, left top, from(#053509), to($green));
                background-image: -webkit-linear-gradient(bottom, #053509 0, $green 100%);
                background-image: -o-linear-gradient(bottom, #053509 0, $green 100%);
                background-image: linear-gradient(0deg, #053509 0, $green 100%);
                font-weight: 900;
                color: $white;
                text-transform: uppercase;
                font-size: 1.125rem
            }

            &.bg-img1,
            &.bg-img2,
            &.bg-img3,
            &.bg-img4 {
                background-position: center center;
                background-size: cover;
            }
            &.bg-img1 {
                background-image: url('./../../assets/images/pizza-category.png');
                border: 1px solid white;
            }

            &.bg-img2 {
                background-image: url('./../../assets/images/side-dish.png')
            }

            &.bg-img3 {
                background-image: url('./../../assets/images/drink.png')
            }

            &.bg-img4 {
                background-image: url('./../../assets/images/dessert.png')
            }

            h2 {
                font-weight: 700;
                font-size: 3rem;
                color: $gray-dark;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .menu {
        .row {
            .menu-item {
                min-height: 250px;

                h2 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }

                .btn-view {
                    font-size: .8125rem;
                    height: 1.875rem;
                    width: 9rem;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-md) {
    .menu {
        .row {
            .menu-item {
                .btn-view {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-lg) {
    .menu {
        .row {
            .menu-item {
                min-height: 43vh;
                max-width: 50%;
            }
        }
    }
}

@media (min-width: $breakpoint-md) {
    .menu {
        .row {
            .col-lg-6 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
}